
/* fonts */
@font-face {
    font-family: 'coiny';
    src: url('fonts/Coiny/Coiny-Regular.ttf') format('truetype');
}
/* styles */

body {
    background-color: #2B2952;
    overflow: hidden;
} 

/* layout */
.grid-container {
    display: grid;
    grid-template-columns: calc(33.33% - 5px) calc(33.33% - 5px) calc(33.33% - 5px);
    /* background-color: #2196F3; */
    /* padding: 10px; */
    margin: 2.5%;
    height: 80%;
    position: absolute;
    width: 90%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid-container a {
    text-decoration: none;
}

.grid-container .category:hover {
    background-color: rgb(253, 210, 250);
}

.category {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #2196F3;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0;
    font-size: 35px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* altering colors with 6 colors */
.category:nth-child(6n - 5){
    background-color: #FF887F;
}

.category:nth-child(6n - 4){
    background-color: #FFC6E1;
}

.category:nth-child(6n - 3){
    background-color: #FF887F;
}

.category:nth-child(6n - 2){
    background-color: #DFD7FF;
}

.category:nth-child(6n - 1){
    background-color: #FFBC65;
}

.category:nth-child(6n){
    background-color: #DFD7FF;
}

/* nav bar */
navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #6C575F; */
    background-color: #B2B2E2;
}

navbar li {
    float: right;
}
  
navbar li a {
    display: block;
    color: #2B2952;
    font-size: 26px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 14px 20px;
    padding-top: 20px;
    text-decoration: none;
}
  
navbar li a:hover {
    background-color: rgb(253, 210, 250);
}

.title {
    font-size: 30px;
    font-family: 'coiny';
}

/* categories layout */
.flex-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-item {
    flex: 25%;
    width: 100%;
    padding: 0 4px;
    text-align: center;
}

.flex-container ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex-container ul li {
    display: inline;
}

/* category colors */
.flex-container #simple-problem, #simple-solution{
    background-color: #FFC6E1;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.flex-container button {
    background-color: #FF887F;
    border: none;
    margin: 2.5%;
    padding: 25px;
    width: 40%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    color: white;
}

.flex-container .big-button {
    background-color: #FFBC65;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}